@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
body {
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.title {
    position: absolute;
    width: auto;
    height: 1vh;
    left: 20%;
    top: 4vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #67809f;
}

.container {
    position: absolute;
    min-width: 80%;
    min-height: 85%;
    left: 50%;
    bottom: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 50px;
    transform: translate(-50%, 5%);
}

.container h4 {
    position: absolute;
    width: 315px;
    height: 44px;
    left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #67809f;
}

.container h6 {
    position: absolute;
    width: 315px;
    height: 44px;
    left: 50px;
    top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
    color: #67809f;
}

.container canvas {
    position: absolute;
    right: -80px;
    top: 1rem;
    z-index: 2;
}

.tab1 {
    position: absolute;
    width: 81px;
    height: 41px;
    left: 3rem;
    top: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #2e3131;
}

.tab2 {
    position: absolute;
    width: 81px;
    height: 41px;
    left: 7rem;
    top: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 42px;
    color: #2e3131;
}

.main {
    position: absolute;
    top: 12rem;
    width: 100%;
    height: auto;
    bottom: 0;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 50px;
    overflow: auto;
}

ul {
    margin-bottom: 8rem;
}

.list {
    margin-left: 0.4rem;
    margin-top: 5rem;
    top: 4rem;
    color: #e4e9ed;
    line-height: 30px;
}

.list li {
    width: 25rem;
    grid-template-columns: repeat(3, auto);
}

.list li span {
    margin-right: 3rem;
}

.tab1:hover,
.tab2:hover {
    color: #eeeeee;
}

.activate {
    color: #eeeeee;
}

.input {
    height: auto;
    position: absolute;
    top: 8vh;
    z-index: 10;
    left: 60%;
    transform: translate(-50%);
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: #f2f1ef;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-radius: 20px;
}

input {
    left: 10px;
    border: none;
    height: 4vh;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 5px 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.btn {
    text-align: center;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: none;
    box-shadow: 400ms cubic-bezier(.2, 0, .7, 1), transform 200ms cubic-bezier(.2, 0, .7, 1);
    border-radius: 50%;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.btn:after {
    content: "+";
    line-height: 1.1em;
    color: #eeeeee;
}

.btn:hover {
    color: #29323b;
}

.hide {
    display: none;
}

.incomeTextMoney {
    color: #2abb9b;
}

.outcomeTextMoney {
    color: #f22613;
}

@media (max-width: 768px) {
    .title {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .input {
        position: fixed;
        top: 95%;
        z-index: 10;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 4rem;
        border-radius: 20px;
    }
    h3 {
        font-size: 30px;
    }
    h4 span {
        font-size: 20px;
    }
    h6,
    h6 span {
        font-size: 13px;
    }
    .toggle div {
        font-size: 20px;
    }
}